/*####################################################################
########## Add Custom Code Here That Will Override Main Styles.css
#####################################################################*/

h2.blockTitle{
	font-family:'Bebas Neue';
}
.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
}