/*####################################################################
########## Add Custom Code Here That Will Override Main Styles.css
#####################################################################*/

h2.blockTitle{
	font-weight: normal;
	text-shadow:none;
	height: 35px;
	color: #FFF;
	border-bottom: 5px solid #04647C;
	background: #00B6E4;
	font-family: 'Bebas Neue';
}
.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
}
.nav {opacity: 0.95;}
.nav.row{
	background-color:#fff;
	padding: 10px 0;
	box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
}
#mainWrap, body{
	font-family:'Open Sans';
}

.persist-header{
	font-family: 'Bebas Neue';
text-align: left;
padding: 10px 20px;
display: block;
color: #00AEEF;
font-weight: normal;
background-color: #FFF;
border-top: 1px solid #FFF;
border-bottom: 1px solid #DBDBDB;

}
.ui-state-active, .persist-header:hover {
	border-top: 1px solid #99CA3C;
	color:#fff;
	background-color: #99CA3C;
	border-bottom: 5px solid #6B9913;
	padding-bottom: 5px;
}
#alphaOverall{
	margin-top:0;
}
.block {
	margin-bottom: 0;
	border-radius:0;
padding-bottom: 90px;
}
.summary{
	font-family:'Open Sans';
	font-size:16px;
	font-weight:bold;
}

.big-number {
	padding: 0px 60px 0px 14px;
	font-size: 34px;
	color:#99ca3c;
}
.percents {float:right}

.total-fail {
	font-size: 24px;
	float:right;
}

#ui-accordion-1-header-0{
	border-radius: 10px 10px 0 0;
}
#ui-accordion-17-header-0{
	border-radius: 0 0 10px 10px;
}
#ui-accordion-1-header-0.ui-accordion-header-active,  #ui-accordion-17-header-0.ui-accordion-header-active{
	border-radius:0 0 0 0;
}
.nav img {
	float:left;
}
#pasteHere{
	margin-top:0px;
	font-family: 'Open Sans';
color: #747474;
text-align: left;
font-size:16px;
}
#footer {
margin: 30px;
font-family: Georgia;
text-shadow: 1px 1px #FFF;
}
#mainWrap {

padding-top: 60px;
}
.floatingHeader{
	position: fixed;
	top: 90px;
}

#miniScores figcaption, section p, .blockDesc, h3.criticalList span, dt.criticalList span  {
font-family: 'Open Sans';
}
.numericalData.value{
	font-family:Arvo;
}
figcaption h3, .smRecentPosts h3, h3{
	font-family:'Bebas Neue';
}

#omegaAlphaRender .ipad div{
	background: url('ipad.png');
}
#omegaAlphaRender .firefox div {
background: url('firefox.png');
}
#omegaAlphaRender .safari div {
background: url('safari.png');

}
#omegaAlphaRender .iphone div {
background: url('iphone.png')
}
#omegaAlphaRender .nexus div {
background: url('nexus.png');
}
.minimac div {
background: url('minimac350.png');
}
.blockDesc {
	background-color:#fff;
	width: 90%;
	float: none;
	margin: 20px auto;
}
.largeScore img{
	margin-top:50px;
	margin-left: 100px;
}
.percentage .comment{
	display:none;
}
article.first{
	padding-top: 80px;
}
.timestamp {
color: #00AEEF;
font-weight: bold;
margin-left: 50px;
}
h3.criticalList span{
font-family: 'Bebas Neue';
margin-left: -40px;
color: #00AEEF;
font-weight:normal;
}
.author {
	text-align: right;

}
.placerow {
	text-align: left;
	margin-bottom: 30px;
}
ul.simpleTabsNavigation {
margin: 0 0px;
font-family: 'Bebas Neue';
color: #00AEEF;
font-weight: normal;
font-size: 24px;
}
ul.simpleTabsNavigation a, ul.simpleTabsNavigation li a.current {
font-family: 'Bebas Neue';
color: #00AEEF;
font-weight: normal;
font-size: 24px;
}
.rankTable .label, .rankTable th.url {
font-family: 'Open Sans';
font-weight: normal;
}
.simpleTabsContent{
	background-color:#fff;
}
.rankTable tbody tr:nth-child(odd) {
background: #D5EDF6;
}
#google-results li{
	
	margin: 5px;
background-color: #FFF;
float: left;
padding: 10px;
list-style-type: none;
border-radius: 5px 5px 0 0;
}
#google-results li a{
	text-decoration: none;
}
a{
	color:#00aeef;
}
.google-numbers .twelvecol {
background-color: #FFF;
width: 100%;
float: left;
text-align: left;
padding: 10px;
margin-bottom: 5px;
}
.value{
	font-family: Arvo;
}
.ad-box2{
	background-color: #FFF;
padding: 30px;
width: 38%;
}
.ad-box2 .title b{
	font-family: 'Bebas Neue';
font-weight: normal;
color: #99CA3C;
font-size: 24px;
}
